{{ if .Values.createPVC }} 
apiVersion: v1
kind: PersistentVolume
metadata:
  name: ds-backup
  annotations:
    # We tell helm to not delete the backup PV for safety
    "helm.sh/resource-policy": keep
  labels:
    bucket: backup
spec:
  capacity:
    storage: 1Ti
  storageClassName: nfs
  persistentVolumeReclaimPolicy: Retain
  accessModes: [ ReadWriteMany ]
  nfs:
    server: "{{ .Values.nfs.server }}"
    path:  "{{ .Values.nfs.path }}"
    readOnly: false
{{ end }}