{{!--
Copyright 2017-2018 ForgeRock AS. All Rights Reserved

Use of this code requires a commercial software license with ForgeRock AS.
or with one of its affiliates. All use shall be exclusively subject
to such license between the licensee and ForgeRock AS.
--}}

<!-- Overriding this file to comment out options that relate to stand alone idm auth and selfservice registration -->

<form id="widgetConfigForm" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="widgetSize">{{t "dashboard.generalConfig.widgetSize"}}</label>
        <div class="col-sm-8">
            <select id="widgetSize" class="form-control" name="size" required>
                {{#staticSelect size}}
                <option value="x-small">{{t "dashboard.generalConfig.xsmall"}}</option>
                <option value="small">{{t "dashboard.generalConfig.small"}}</option>
                <option value="medium">{{t "dashboard.generalConfig.medium"}}</option>
                <option value="large">{{t "dashboard.generalConfig.large"}}</option>
                {{/staticSelect}}
            </select>
        </div>
    </div>

     <div class="form-group">
        <label class="col-sm-3 control-label" for="defaultOption">{{t "dashboard.counterWidget.options" }}</label>
        <div class="col-sm-8">
            <select id="defaultOption" class="form-control" name="selected">
                {{#staticSelect selected}}
                    <option value="activeUsers">{{t "dashboard.counterWidget.activeUsers" }}</option>
                    <!-- <option value="socialEnabled">{{t "dashboard.counterWidget.socialEnabled" }}</option> -->
                    <option value="rolesEnabled">{{t "dashboard.counterWidget.rolesEnabled" }}</option>
                    <option value="activeConnectors">{{t "dashboard.counterWidget.activeConnectors" }}</option>
                    <!-- <option value="manualRegistrations">{{t "dashboard.counterWidget.manualRegistrations" }}</option> -->
                {{/staticSelect}}
            </select>
        </div>
        </div>
    </form>
</form>
