{{!--
  Copyright 2018 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
--}}

<div class="container">
    <div class="page-header">
        <h1>{{t "templates.selfservice.termsAndConditions.title"}}</h1>
    </div>
    <p class="panel-description">{{t "templates.selfservice.termsAndConditions.description"}}</p>
    {{#if versions.length}}
        <!-- <div class="alert alert-warning {{#if registrationEnabled}}hidden{{/if}}">
            <i class="fa fa-exclamation-circle"></i>
            <strong role="heading">Warning</strong>
            <span class="message">
                    {{t "templates.selfservice.termsAndConditions.userRegistrationAlertMessage"}}
                    <a href="#selfservice/userregistration/options" role="button" class="alert-link ">{{t "templates.selfservice.termsAndConditions.userRegistrationLinkMessage"}}</a>
            </span>
        </div> -->
        <div class="tab-menu">
            <ul class="nav nav-tabs " role="tablist">
                <li role="presentation" class="active">
                    <a href="#versionsTab" aria-controls="versionsTab" role="tab" data-toggle="tab" aria-expanded="true">{{t "common.form.versions"}}</a>
                </li>
                <!-- <li role="presentation" class="">
                    <a href="#settingsTab" aria-controls="settingsTab" role="tab" data-toggle="tab" aria-expanded="false">{{t "common.form.settings"}}</a>
                </li> -->
            </ul>
        </div>
        <div class="tab-content">
            <div id="versionsTab" class="tab-pane managedContainers active" role="tabpanel">
                <div class="panel no-margin-bottom">
                    <div class="panel-body">
                        <div class="btn-toolbar margin-top-0" role="toolbar">
                            <div class="btn-group" role="group">
                                <a href="#termsAndConditions/add/">
                                    <button class="btn btn-primary" type="button" data-action="termsAndConditionsNewVersion"><i class="fa fa-plus"></i>{{t "templates.selfservice.termsAndConditions.newVersion"}}</button>
                                </a>
                            </div>
                        </div>
                        <div id="versionsGrid"></div>
                    </div>
                </div>
            </div>
            <!-- <div id="settingsTab" class="tab-pane managedContainers" role="tabpanel">
                <div class="panel no-margin-bottom">
                    <form class="form-horizontal">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label col-sm-3">{{t "templates.selfservice.termsAndConditions.requireReacceptance"}}</label>
                                <div class="col-sm-7">
                                    <div class="checkbox checkbox-slider checkbox-slider checkbox-slider-md checkbox-slider--b-flat checkbox-slider-primary">
                                        <label><input type="checkbox" name="requireReacceptance" {{#if requireReacceptance}}checked{{/if}}><span></span></label>
                                    </div>
                                    <div class="help-block">{{t "templates.selfservice.termsAndConditions.requireReacceptanceHelp"}}</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="uiConfig.displayName">{{t "templates.selfservice.termsAndConditions.formPageHeader"}}</label>
                                <div class="col-xs-7">
                                    <input class="form-control settings-input" data-validator="required" data-validator-event="keyup blur" name="uiConfig.displayName" type="text" placeholder='{{t "templates.selfservice.termsAndConditions.formPageHeaderPlaceholder"}}' value="{{uiConfig.displayName}}">
                                    <span class="help-block">{{t "templates.selfservice.termsAndConditions.formPageHeaderHelp"}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="uiConfig.purpose">{{t "templates.selfservice.termsAndConditions.formDescription"}}</label>
                                <div class="col-xs-7">
                                    <input class="form-control settings-input" data-validator="required" data-validator-event="keyup blur" name="uiConfig.purpose" type="text" placeholder='{{t "templates.selfservice.termsAndConditions.formDescriptionPlaceholder"}}' value="{{uiConfig.purpose}}">
                                    <span class="help-block">{{t "templates.selfservice.termsAndConditions.formDescriptionHelp"}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="uiConfig.buttonText">{{t "templates.selfservice.termsAndConditions.formButtonText"}}</label>
                                <div class="col-xs-7">
                                    <input class="form-control settings-input" data-validator="required" data-validator-event="keyup blur" name="uiConfig.buttonText" type="text" placeholder='{{t "templates.selfservice.termsAndConditions.formButtonTextPlaceholder"}}' value="{{uiConfig.buttonText}}">
                                    <span class="help-block">{{t "templates.selfservice.termsAndConditions.formButtonTextHelp"}}</span>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer clearfix">
                            <div class="pull-left">
                                <div class="changes-pending-container"></div>
                            </div>
                            <div class="pull-right save-cancel-btn-panel">
                                <a href="#termsAndConditions/"><button class="btn save-cancel-btn btn-default btn-cancel" type="button">{{t 'common.form.cancel'}}</button></a>
                                <button class="btn save-cancel-btn btn-primary btn-save" type="button" disabled>{{t "common.form.save"}}</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    {{else}}
        <div class="well well-empty">
            <div class="text-center">
                <p class="text-primary">
                    <i class="fa fa fa-align-left fa-4x"></i>
                </p>
                <h3>{{t "templates.selfservice.termsAndConditions.noVersionsCreated"}}</h3>
                <p class="panel-description">{{t "templates.selfservice.termsAndConditions.noVersionsHelp"}}</p>
                <p>
                    <a href="#termsAndConditions/add/">
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-plus"></i>
                            {{t "templates.selfservice.termsAndConditions.createVersion"}}
                        </button>
                    </a>
                </p>
            </div>
        </div>
    {{/if}}
</div>
