*.zip
*.war
staging/
tmp/
*.iml
logs/
target/
*.DS_Store
.idea/
*.tgz
bazel-*
brigade.yaml
settings.xml
*.cfg
etc/cert-manager.json
*.pyc
.vscode/
.pytest_cache/
reports/
res.txt
results.txt
/venv/
skaffold-dev.yaml
 __pycache__/
build/
.gradle/
key.json
cue/
.project
.settings/
./dev/
.CONFIGURED
forgeops-toolbox/
legacy-docs/7.0/site/