# Example forgeops-ng.conf file
# These are the options you can set here and their defaults

# All commands honor these
BUILD_PATH=docker
KUSTOMIZE_PATH=kustomize
# If SKIP_VIRTUAL_ENV=true, you must install python packages in requirements.txt
SKIP_VIRTUAL_ENV=false

# Only for build
CONTAINER_ENGINE=docker
PUSH_TO=

# Only for generate
# If you want to use the ds-operator swap the comment
#OPERATOR=true
OPERATOR=false
PULL_POLICY=
SOURCE=default # Source overlay to use when creating a new overlay
