{{!--
  Copyright 2018 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
--}}

<!-- Overriding this file to comment out the update configuration link -->

<div class="container">
    <div class="page-header">
        <h1>{{t "templates.kba.headerText"}}</h1>
    </div>
    <p class="panel-description">{{t "templates.kba.descriptionText"}}</p>
    <div class="tab-menu">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#questionsTab" aria-controls="questionsTab" role="tab" data-toggle="tab" aria-expanded="true">{{t "templates.kba.questions"}}</a>
            </li>
            <!-- <li role="presentation">
                <a href="#updateTab" aria-controls="updateTab" role="tab" data-toggle="tab" aria-expanded="false">{{t "templates.kba.updateForm"}}</a>
            </li> -->
        </ul>
    </div>
    <div class="tab-content">
        <div id="questionsTab" class="tab-pane managedContainers active" role="tabpanel"></div>
        <!-- <div id="updateTab" class="tab-pane managedContainers" role="tabpanel"></div> -->
    </div>
</div>
