# Skaffold used for testing the ds image. You need to deploy the forgeops-secrets first for ds to come up
# Run using  skaffold dev --port-forward
apiVersion: skaffold/v2beta7
kind: Config
metadata:
  name: ds
build:
  artifacts:
  - image: ds-idrepo
    context: .
    docker:
      dockerfile: idrepo/Dockerfile
  tagPolicy:
    gitCommit:
      variant: AbbrevCommitSha
deploy:
  kustomize:
    paths:
    - ../../../kustomize/base/7.0/ds/idrepo
#    -  ../../../kustomize/base/forgeops-secrets

