<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
        </encoder>
        <immediateFlush>false</immediateFlush>
    </appender>
    <root level="WARN">
       <appender-ref ref="CONSOLE" />
    </root>

    <!-- Uncomment to see the http traces. This produces a lot of debug output -->
<!--    <logger name="io.gatling.http.engine.response" level="TRACE" />-->

</configuration>