{{!
  Copyright 2016-2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
}}
<div id="settingsBody">

    <div class="container">
        <div class="page-header">
            <h1>{{t "config.AppConfiguration.Navigation.links.systemPref"}}</h1>
        </div>
    </div>

    <div id="settingsTabs" class="tab-menu">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="{{#if maintenanceMode}}disabled{{/if}}{{#sw tabName "audit"}}active{{/sw}}">
                <a data-toggle="tab" data-route="audit" href="#auditContainer">{{t "templates.audit.audit"}}</a>
                </li>

                <!-- <li class="{{#if maintenanceMode}}disabled{{/if}}{{#sw tabName "selfService"}}active{{/sw}}">
                <a data-toggle="tab" data-route="selfService" href="#selfServiceContainer">{{t "templates.selfService.title"}}</a>
                </li> -->

                <li class="{{#if maintenanceMode}}disabled{{/if}}{{#sw tabName "workflow"}}active{{/sw}}">
                <a data-toggle="tab" data-route="workflow" href="#workflowContainer">{{t "templates.workflows.title"}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="tab-content" id="settings">
            <div id="auditContainer" data-settings="audit" class="tab-pane{{#sw tabName "audit"}} active{{/sw}}" role="tabpanel"></div>
            <!-- <div id="selfServiceContainer" data-settings="selfService" class="tab-pane{{#sw tabName "selfService"}} active{{/sw}}" role="tabpanel"></div> -->
            <div id="workflowContainer" data-settings="workflow" class="tab-pane{{#sw tabName "workflow"}} active{{/sw}}" role="tabpanel"></div>
        </div>
    </div>
</div>

<div id="install"></div>
