<Context>

    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Set the cache size. If this is not set, you will get a lot of warning messages on startup -->
    <Resources
            cachingAllowed="true"
            cacheMaxSize="100000"
    />
    <!-- Uncomment this to disable session persistence across Tomcat restarts. -->
    <!--
    <Manager pathname="" />
    -->
</Context>
