<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">


  <!-- bootstrap + vue -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <style>
    .form-group:last-child, .card:last-child {
      margin-bottom: 0 !important;
    }
  </style>
</head>
<body>
  <div id="App">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Forgeops UI</a>
      <nav class="nav nav-pills " role="tablist">
        <a class="nav-link text-light nav-secondary active" id="deployment-tab" data-toggle="tab" href="#deployment" role="tab" aria-controls="home" aria-selected="true">Deployment</a>
        <a class="nav-link text-light" id="product-config-tab" data-toggle="tab" href="#product-config" role="tab" aria-controls="product-config" aria-selected="true">Product Config</a>
        <a class="nav-link text-light" id="tests-tab" data-toggle="tab" href="#tests" role="tab" aria-controls="tests" aria-selected="true">Tests</a>

      </nav>
    </nav>
    <div class="container mt-2" v-if="!isStatusLoaded">
      <div class="alert alert-info">
        <i class="fas fa-circle-notch fa-spin fa-fw"></i> Loading status
      </div>
    </div>
    <div class="container mb-2 mt-2" v-else>
      <div class="row">
        <div class="tab-content col-12">
          <div class="tab-pane fade show active" id="deployment" role="tabpanel" aria-labelledby="deployment-tab">
            <div class="col-12 d-flex flex-row-reverse m-0 p-0">
              <button type="button" class="mr-2 btn btn-success" @click="deploy()" v-if="!isDeployed && !isRemoving" :disabled="isDeployed || isDeploying || isRemoving">
                <template v-if="isDeploying">
                  <i class="fas fa-circle-notch fa-spin"></i> Deployment in progress
                </template>
                <template v-else>Deploy</template>
              </button>
              <button type="button" class="mr-2 btn btn-danger" @click="removeDeploy()" v-if="isDeployed || isRemoving" :disabled="!isDeployed || isRemoving || isDeploying">
                <template v-if="isRemoving">
                  <i class="fas fa-circle-notch fa-spin"></i> Deployment remove in progress
                </template>
                <template v-else>Remove deployment</template>
              </button>
            </div>
            <div class="card m-2">
              <div class="card-body" style="font-size: 1.3rem;">
                <div class="row" :class="{'text-success': isConfigured, 'text-danger': !isConfigured}">
                  <div class="col" ><i class="fas fa-fw" :class="{'fa-check': isConfigured, 'fa-times': !isConfigured}"></i> Configured</div>
                </div>
                <div class="row" :class="{'text-success': isDeployed, 'text-danger': !isDeployed}" v-if="!isDeploying && !isRemoving">
                  <div class="col" >
                    <i class="fas fa-fw" :class="{'fa-check': isDeployed, 'fa-times': !isDeployed}"></i> Deployed
                  </div>
                </div>
                <div class="row" v-else class="text-info">
                  <div class="col" >
                    <i class="fas fa-circle-notch fa-spin fa-fw"></i>
                    {{ isDeploying ? 'Deploying' : 'Removing deployment' }}
                  </div>
                </div>
                <div class="row" :class="{'text-success': isReady, 'text-danger': !isReady }">
                  <div class="col">
                    <i class="fas fa-fw" :class="{'fa-check': isReady, 'fa-times': !isReady }"></i>
                    <template v-if="isReady">Ready</template>
                    <template v-else="isReady">Not ready</template>
                  </div>
                </div>
                <div class="row" :class="{'text-success': isTestsFinished, 'text-danger': !isTestsFinished, 'text-dark': isTestsRunning || !isTestsFinished }">
                  <div class="col" v-if="!isTestsRunning">
                    <i class="fas fa-fw" :class="{'fa-check': isTestsFinished, 'fa-times': !isTestsFinished && !isTestsRunning}"></i>
                    <template v-if="isTestsFinished">Tests finished</template>
                    <template v-else="isTestsFinished">Tests not run</template>
                  </div>
                  <div class="col" v-else>
                    <i class="fas fa-circle-notch fa-spin fa-fw"></i> Tests running
                  </div>
                </div>
              </div>
            </div>
            
            <strong class="pl-5 text-muted"> PRODUCTS</strong>

            <div class="card-deck p-2" v-for="(products, index)  of _.chunk(Object.keys(productsToConfigure).filter((o) => isProduct(o) && productsToConfigure[o] && livecheckStatus[o] !== null), 3)"
              :class="{ 'pt-2': index !== 0 }">
              <div class="card col-4 p-0" v-for="product of products" style="line-height: 15px;">
                <div class="progress" style="height: 8px;">
                  <div v-if="(product === 'am' && AMStatus.toLowerCase() === 'ready') || (product !== 'am' && livecheckStatus[product] && livecheckStatus[product].toLowerCase() === 'ready')" class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  <div v-else-if="isDeploying || (product === 'am' && AMStatus.toLowerCase() !== 'ready' && isDeployed) || (livecheckStatus[product] && livecheckStatus[product].toLowerCase() === 'not_ready')" class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                  <div v-else class="progress-bar bg-dark" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
                <div class="row no-gutters">
                  <div class="col-2 p-2">
                    <img src="/imgs/frlogo.png" class="d-inline-block w-100 align-middle">
                  </div>
                  <div class="col-10 pt-2 pb-2">
                    <strong>{{ product.toUpperCase() }}</strong>
                    <div v-if="livecheckStatus[product] !== null">
                      <template v-if="product === 'am'">
                        {{AMStatus}}
                      </template>
                      <template v-else>{{livecheckStatus[product]}}</template>
                    </div>
                  </div>
                </div>
                <div class="ro no-gutters">
                  <div class="col-auto p-2">
                    <div v-if="(product !== 'am' && livecheckStatus[product] && livecheckStatus[product].toLowerCase() === 'ready') || (product === 'am' && AMStatus.toLowerCase() === 'ready')">
                      <a :href="endpoints[product]" target="_blank">{{ endpoints[product] }}</a>
                    </div>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="col-auto p-2" v-if="livecheckStatus[product] && livecheckStatus[product].toLowerCase() === 'ready' && podMapping[product]">
                    <button type="button" class="btn btn-sm btn-outline-dark border-0"
                      @click="showPods[product] = !showPods[product]">Pods
                      <i class="far fa-minus-square" :class="{
                        'fa-plus-square': !showPods[product],
                        'fa-minus-square': showPods[product]
                      }"></i>
                    </button>
                  </div>
                </div>
                <div class="row no-gutters" v-if="showPods[product]">
                  <div class="col-auto p-2" v-if="!isPodListLoaded">
                    <div class="alert alert-info "><i class="fas fa-circle-notch fa-spin"></i> Pods loading from server</div>
                  </div>
                  <div class="col-auto p-2" v-else>
                    <template v-for="pod of podMapping[product]">
                      <div class="row">
                        <div class="col-12" :class="{
                          'text-success': podsStatus[pod] && podsStatus[pod].toLowerCase() === 'running',
                          'text-danger': podsStatus[pod] && podsStatus[pod].toLowerCase() !== 'running',
                          'text-muted': !podsStatus[pod] }">
                          <template v-if="podsStatus[pod]">
                            <i class="fas fa-check fa-fw" v-if="podsStatus[pod].toLowerCase() === 'running'"></i>
                            <i class="fas fa-times fa-fw" v-else></i>
                          </template>
                          <i v-else class="fas fa-question  fa-fw"></i>
                          {{pod}}
                        </div>
                      </div>
                    </template>
                    <button type="button" class="btn btn-sm btn-outline-dark border-0 mt-2" @click="loadPodsStatus(true)">
                      <i class="fas fa-sync-alt"></i> Refresh
                    </button>
                  </div>
                </div>
              </div>
              <!-- add empty cards -->
              <template v-if="products.length !== 3">
                <div class="card" style="visibility: hidden" v-for="i in 3 - (products.length % 3)" v-bind:key="i"></div>
              </template>
            </div>

            <hr>
            <strong class="pl-5 text-muted">BACKEND SERVICES</strong>

            <div class="card-deck p-2" v-for="(products, index)  of _.chunk(Object.keys(productsToConfigure).filter((o) => productsToConfigure[o] && (livecheckStatus[o] === null || !isProduct(o))), 4)"
              :class="{ 'pt-2': index !== 0 }">
              <div class="card col-4 p-0" v-for="product of products" style="line-height: 15px;">
                <div class="row no-gutters">
              <div class="col-2 p-2">
                    <img src="/imgs/frlogo.png" class="d-inline-block w-75 align-middle">
                  </div>    
                  <div class="col-10 pt-2 pb-2">
                    <strong>{{ product.toUpperCase() }}</strong>
                  </div>
                </div>
                <div class="row no-gutters" v-if="podMapping[product]">
                  <div class="col-auto p-2">
                    <button type="button" class="btn btn-sm btn-outline-dark border-0"
                      @click="showPods[product] = !showPods[product]">Pods
                      <i class="far fa-minus-square" :class="{
                        'fa-plus-square': !showPods[product],
                        'fa-minus-square': showPods[product]
                      }"></i>
                    </button>
                  </div>
                </div>
                <div class="row no-gutters" v-if="showPods[product]">
                  <div class="col-auto p-2" v-if="!isPodListLoaded">
                    <div class="alert alert-info "><i class="fas fa-circle-notch fa-spin"></i> Pods loading from server</div>
                  </div>
                  <div class="col-auto p-2" v-else>
                    <template v-for="pod of podMapping[product]">
                      <div class="row">
                        <div class="col-12" :class="{
                          'text-success': podsStatus[pod] && podsStatus[pod].toLowerCase() === 'running',
                          'text-danger': podsStatus[pod] && podsStatus[pod].toLowerCase() !== 'running',
                          'text-muted': !podsStatus[pod] }">
                          <template v-if="podsStatus[pod]">
                            <i class="fas fa-check fa-fw" v-if="podsStatus[pod].toLowerCase() === 'running'"></i>
                            <i class="fas fa-times fa-fw" v-else></i>
                          </template>
                          <i v-else class="fas fa-question  fa-fw"></i>
                          {{pod}}
                        </div>
                      </div>
                    </template>
                    <button type="button" class="btn btn-sm btn-outline-dark border-0 mt-2" @click="loadPodsStatus(true)">
                      <i class="fas fa-sync-alt"></i> Refresh
                    </button>
                  </div>
                </div>
              </div>

              <!-- add empty cards -->
              <template v-if="products.length !== 4">
                <div class="card" style="visibility: hidden" v-for="i in 4 - (products.length % 4)" v-bind:key="i"></div>
              </template>
            </div>

            <div class="card m-2">
              <div class="card-header">Logs</div>
              <div class="card-body">
                <template v-for="alert of _.chunk(_.orderBy(alerts, 'timestamp', 'desc'), 10)[0]">
                  <div class="" :class="[ alert.type === 'error' ? 'text-danger' : 'text-success' ]">
                    {{ new Date(alert.timestamp).toLocaleTimeString() }}
                    <span v-html="alert.message"></span>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="product-config" role="tabpanel" aria-labelledby="product-config-tab">
            <div class="col-12 d-flex flex-row-reverse m-0 p-0">
              <button type="button" class="btn m-2" @click="uploadSettings()" :disabled="isDeployed || isRemoving || isDeploying"
                :class="{
                  'btn-primary': state.upload === 0,
                  'btn-info': state.upload === 1,
                  'btn-success': state.upload === 2,
                  'btn-danger': state.upload === 3
                }"
              >
                <template v-if="state.upload === 0">Upload settings</template>
                <template v-else-if="state.upload === 1"><i class="fas fa-circle-notch fa-spin fa-fw"></i> Upload in progress</template>
                <template v-else-if="state.upload === 2"><i class="fas fa-fw fa-check"></i> Uploaded OK!</template>
                <template v-else-if="state.upload === 3"><i class="fas fa-fw fa-times"></i> Something went wrong!</template>
              </button>

              <div class="btn-group m-2 mr-0" role="group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :disabled="isDeployed || isRemoving || isDeploying">
                    Load from server
                </button>
                <div class="dropdown-menu">
                  <button type="button" class="dropdown-item" @click="loadDefaultSettingsFromServer" :disabled="isDeployed || isRemoving || isDeploying">Default settings</button>
                  <button type="button" class="dropdown-item" @click="loadCurrentSettingsFromServer" :disabled="isDeployed || isRemoving || isDeploying">Current settings</button>
                </div>
              </div>

              <div class="btn-group m-2 mr-0" role="group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" :disabled="isDeployed || isRemoving || isDeploying">
                    File
                </button>
                <div class="dropdown-menu">
                  <button type="button" class="dropdown-item" @click="$refs.uploadFileInput.click()" :disabled="isDeployed || isRemoving || isDeploying">Load from file</button>
                  <a :href="settingsToExport" class="dropdown-item" download="settings.json" :class="{ disabled: isDeployed || isRemoving || isDeploying }">Save to file</a>
                  <input
                    class="d-none"
                    type="file"
                    ref="uploadFileInput"
                    @change="fileUpload($event.target.files)"
                    accept="application/json"
                    :disabled="isDeployed || isRemoving || isDeploying"/>
                </div>
              </div>
            </div>
            <div class="card m-2">
              <div class="card-header">Global settings</div>
              <div class="card-body">
                <template v-for="k of Object.keys(settings.globalCurrent)">
                <div class="form-group row" v-if="typeof settings.globalCurrent[k] === 'boolean'" :key="k">
                    <label class="col-form-label-sm col-sm-3 col-form-label col-form-label-sm">{{k}}</label>
                    <button type="button" class="btn btn-block col-sm-9" :class="[settings.globalCurrent[k] ? 'btn-success' : 'btn-danger']" @click="settings.globalCurrent[k] = !settings.globalCurrent[k]; refresh = true" :disabled="isDeployed || isRemoving || isDeploying">{{String(settings.globalCurrent[k])}}</button>
                </div>
                <div class="form-group row" v-else-if="typeof settings.globalCurrent[k] !== 'object'" :key="k">
                    <label class="col-form-label-sm col-sm-3 col-form-label col-form-label-sm">{{k}}</label>
                    <input :type="typeof settings.globalCurrent[k] === 'string' ? 'input' : 'number'" class="form-control col-sm-9" v-model="settings.globalCurrent[k]" :disabled="isDeployed || isRemoving || isDeploying">
                </div>
                </template>
                <template v-for="k of Object.keys(settings.globalCurrent)">
                <div v-if="typeof settings.globalCurrent[k] === 'object'" :key="k">
                    <recursive :items="settings.globalCurrent[k]" :title="k" @update="onUpdate(product, $event)" :isdeployed="isDeployed" :isdeploying="isDeploying" :isremoving="isRemoving"></recursive>
                </div>
                </template>
              </div>
            </div>
            <div class="card m-2">
              <div class="card-header">Samples</div>
              <div class="card-body">
                <select class="form-control" v-model="selectedSample" size="5">
                  <option v-for="sample of samplesList" :value="sample">{{sample}}</option>
                </select>

                <button type="button" class="mt-4 btn btn-primary" @click="loadSampleSettingsFromServer" :disabled="isDeployed || isRemoving || isDeploying">Load sample settings</button>
              </div>
            </div>
            <div class="card m-2">
              <div class="card-header">Products to deploy</div>
              <div class="card-body">
                <div class="form-check form-check-inline" v-for="product of Object.keys(productsToConfigure)">
                  <input class="form-check-input" type="checkbox" :id="product" v-model="productsToConfigure[product]" :disabled="isDeployed || isRemoving || isDeploying">
                  <label class="form-check-label" :for="product">{{product}}</label>
                </div>
              </div>
            </div>
            <div class="btn-group m-2 d-flex" role="group">
              <button class="btn" v-for="product of Object.keys(settings.default)" v-show="productsToConfigure[product]" :class="productBtnClass(product)" @click="show(product)">{{ product }}</button>
            </div>
            <div class="card m-2" v-for="product of Object.keys(aggregatedSettings)" v-if="product === toShow && !refresh" v-show="productsToConfigure[product]">
              <div class="card-body" :key="product">
                <!-- domain handler -->
                <template v-if="settings.current[product].domain">
                  <div class="form-group row">
                      <label class="col-form-label-sm col-sm-3 col-form-label col-form-label-sm">domain</label>
                      <div class="col-sm-9 p-0">
                          <div class="btn-group">
                              <button type="button" class="btn" :class="[!domainOverride[product] ? 'btn-primary' : 'btn-outline-primary']" @click="domainOverride[product] = false" :disabled="isDeployed || isRemoving || isDeploying">Global</button>
                              <button type="button" class="btn" :class="[domainOverride[product] ? 'btn-primary' : 'btn-outline-primary']" @click="domainOverride[product] = true" :disabled="isDeployed || isRemoving || isDeploying">Override</button>
                          </div>
                          <input v-if="domainOverride[product]" type="string" class="form-control" v-model="settings.current[product].domain" :disabled="isDeployed || isRemoving || isDeploying">
                      </div>
                  </div>
                </template>

                <template v-for="k of Object.keys(settings.current[product])" v-if="!hiddenOpts.includes(k)">
                  <div class="form-group row" v-if="typeof settings.current[product][k] === 'boolean'" :key="k">
                    <label class="col-form-label-sm col-sm-3 col-form-label col-form-label-sm">{{k}}</label>
                    <button type="button" class="btn btn-block col-sm-9" :class="[settings.current[product][k] ? 'btn-success' : 'btn-danger']" @click="settings.current[product][k] = !settings.current[product][k]; refresh = true" :disabled="isDeployed || isRemoving || isDeploying">{{String(settings.current[product][k])}}</button>
                  </div>
                  <div class="form-group row" v-else-if="typeof settings.current[product][k] !== 'object'" :key="k">
                    <label class="col-form-label-sm col-sm-3 col-form-label col-form-label-sm">{{k}}</label>
                    <input :type="typeof settings.current[product][k] === 'string' ? 'input' : 'number'" class="form-control col-sm-9" v-model="settings.current[product][k]" :disabled="isDeployed || isRemoving || isDeploying">
                  </div>
                </template>
                <template v-for="k of Object.keys(settings.current[product])">
                  <div v-if="typeof settings.current[product][k] === 'object'" :key="k">
                    <recursive :items="settings.current[product][k]" :title="k" @update="onUpdate(product, $event)" :isdeployed="isDeployed" :isremoving="isRemoving" :isdeploying="isDeploying"></recursive>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tests" role="tabpanel" aria-labelledby="tests-tab">
            <div class="col-12 d-flex flex-row-reverse pr-2">
              <button type="button" v-if="!isTestsRunning" :disabled="!isDeployed" class="btn btn-primary mr-2" @click="runTests">Run Tests</button>
              <button type="button" v-else="isTestsRunning" :disabled="true" class="btn btn-info mr-2">
                <i class="fas fa-circle-notch fa-spin fa-fw"></i> Tests running
              </button>
            </div>

            <div class="col-12 pt-2" v-if="isTestsFinished">
              <iframe class="w-100 border-0" style="height: 90vh" :src="domain + '/deployment/tests/results'"></iframe>
            </div>
          </div>
          <div class="tab-pane fade" id="repo-settings" role="tabpanel" aria-labelledby="repo-settings">Next Friday!</div>
        </div>
      </div>
    </div>
  </div>

  <script>
    Vue.component('recursive', {
      props: ['items', 'title', 'isdeployed', 'isdeploying', 'isremoving'],
      data: function () {
        return {
          cItems: this.items
        }
      },
      methods: {
        onUpdate: function (v) {
          this.cItems[v.key] = v.value
          this.update()
        },
        update: function () {
          this.$nextTick(() => {
            console.debug('update', {key: this.title, value: this.cItems })
            this.$emit('update', {key: this.title, value: this.cItems })
          })
        }
      },
      template: `
        <div class="card mt-4 mb-4 row" style="display: grid">
          <div class="card-header">
              {{ title }}
          </div>
          <div class="card-body">
            <template v-for="k of Object.keys(cItems)">
              <div class="form-group row" v-if="typeof cItems[k] === 'boolean'" :key="k">
                <label class="col-form-label-sm col-sm-3 col-form-label col-form-label-sm">{{k}}</label>
                <button type="button" class="btn btn-block col-sm-9" :class="[cItems[k] ? 'btn-success' : 'btn-danger']" @click="cItems[k] = !cItems[k]; update()" :disabled="isdeployed || isremoving || isdeploying">{{String(cItems[k])}}</button>
              </div>
              <div class="form-group row" v-else-if="typeof cItems[k] !== 'object'" :key="k">
                <label class="col-form-label-sm col-sm-3 col-form-label col-form-label-sm">{{k}}</label>
                <input :type="typeof cItems[k] === 'string' ? 'input' : 'number'" class="form-control col-sm-9" v-model="cItems[k]" @keydown="update()" :disabled="isdeployed || isremoving || isdeploying">
              </div>
            </template>
            <template v-for="k of Object.keys(cItems)">
              <div v-if="typeof cItems[k] === 'object'" :key="k">
                <recursive :items="items[k]" :title="k" @update="onUpdate" :isdeployed="isdeployed" :isremoving="isremoving" :isdeploying="isdeploying"></recursive>
              </div>
            </template>
          </div>
        </div>
        `
    })

    const vm = new Vue({
      el: '#App',
      data: {
        //domain: 'http://localhost:5000',
        domain: '',
        productsToConfigure: {},
        showPods: {},
        domainOverride: {},
        hiddenOpts: ['domain'],
        toShow: '',
        refresh: false,
        isStatusLoaded: false,
        state: {
          upload: 0
        },
        settings: {
            globalDefault: {},
            globalCurrent: {},

            default: {},
            current: {}
        },

        isConfigured: false,
        deploymentStatus: null,
        testStatus: null,
        isPodListLoading: false,
        isPodListLoaded: false,

        alerts: {},
        endpoints: {},

        selectedSample: null,
        samplesList: [],

        podMapping: {},
        podsStatus: {},

        livecheckStatus: {},
      },
      watch: {
        refresh: function (val) {
          if (val) this.refresh = false
        }
      },
      computed: {
        AMStatus() {
          if (typeof this.livecheckStatus.am === 'undefined') return ''
          else if (typeof this.livecheckStatus.amster === 'undefined') return this.livecheckStatus.am
          else return this.livecheckStatus.amster
        },
        isReady() {
          if (Object.keys(this.livecheckStatus).length === 0) return false
          for (let p of Object.keys(this.livecheckStatus)) {
            if (this.livecheckStatus[p] !== null && this.livecheckStatus[p].toLowerCase() !== 'ready') return false

          }
          return true
        },
        isTestsRunning() {
          return this.testStatus === 'running'
        },
        isTestsFinished() {
          return this.testStatus === 'finished'
        },
        isDeployed() {
          return this.deploymentStatus === 'deployed'
        },
        isDeploying() {
          return this.deploymentStatus === 'deploying'
        },
        isRemoving() {
          return this.deploymentStatus === 'removing'
        },
          expectedPods: function () {
            let pods = 0
            for (const product of Object.keys(this.podMapping)) {
              for (const pod of this.podMapping[product]) {
                pods++
              }
            }
            return pods
          },
          aggregatedSettings: function () {
            return {
                ...this.settings.default,
                ...this.settings.current
            }
          },
          aggregatedGlobalSettings: function () {
            return {
                ...this.settings.globalDefault,
                ...this.settings.globalCurrent
            }
          },
          settingsToExport: function () {
            let products = this.aggregatedSettings

            for (let p of Object.keys(this.domainOverride).filter((o) => !this.domainOverride[o])) {
                products[p].domain = this.aggregatedGlobalSettings.domain
            }

            const settings = Object.assign({}, {
              products,
              global: this.aggregatedGlobalSettings,
              ignore: Object.keys(this.productsToConfigure).filter((o) => !this.productsToConfigure[o])
            })
            //Save the file contents as a DataURI
            return 'data:application/json;charset=utf-8,'+ encodeURIComponent(JSON.stringify(settings));
          }
      },
      mounted: function () {
        this.loadDefaultSettingsFromServer(true)
        this.loadSamples()
        this.loadLivecheck()
        this.loadPodsStatus()
        this.loadTestStatus()
        this.deploymentStatusCheck()
        this.deploymentPodMappingCheck()
      },
      methods: {
        isProduct(product) {
          const products = ['am', 'idm', 'ig']
          return products.includes(product)
        },
        loadTestStatus: async function () {
          const url = this.domain + '/deployment/tests/run'
          axios
            .get(url)
            .then((r) => {
              this.testStatus = r.data.status.toLowerCase()
            })
            .catch(e => {
              const id = String(Math.floor(Math.random() * 100000))
              this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - cannot reach network'})
            })
            .finally(() => {
              setTimeout(() => {
                this.loadTestStatus()
              }, 10000)
            })
        },
        loadLivecheck: async function () {
          let products = Object.keys(this.productsToConfigure)

          const check = async () => {
            var numOfChecks = 0
            for (const p of products) {
              console.debug(' => LiveCheck : ' + p)
              if (this.productsToConfigure[p]) {
                const url = this.domain + '/deployment/livecheck/' + p
                axios
                .get(url)
                .then((r) => {
                  numOfChecks++
                  if (r.data.status.toLowerCase().includes('ready')) this.$set(this.livecheckStatus, p, r.data.status)
                  else this.$set(this.livecheckStatus, p, null)
                })
                .catch(e => {
                  console.error(e)
                  numOfChecks++
                  this.$set(this.livecheckStatus, p, 'n/a')
                })
              }
            }

            return new Promise((resolve, reject) => {
              const isLoadedAll = function () {
                if (numOfChecks === products.length) resolve()
                else setTimeout(() => isLoadedAll(), 100)
              }
              isLoadedAll()
            })
          }

          console.debug('loadLiveCheck()')
          if (this.isDeployed) {
            await check()
            for (let p of Object.keys(this.livecheckStatus)) {
              if (this.livecheckStatus[p] !== null && this.livecheckStatus[p].toLowerCase() !== 'ready') return setTimeout(() => this.loadLivecheck(), 10000)
            }
            setTimeout(() => this.loadLivecheck(), 60000)
          } else setTimeout(() => this.loadLivecheck(), 1000)
        },
        loadPodsStatus: async function (isBtn) {
          const check = async () => {
            let numOfChecks = 0
            let expectedNumOfChecks = 0
            for (const product of Object.keys(this.podMapping)) {
              for (const pod of this.podMapping[product]) {
                expectedNumOfChecks++
                console.debug(' => PodCheck : ' + pod)
                const url = this.domain + '/deployment/status/' + pod
                axios
                .get(url)
                .then((r) => {
                    numOfChecks++
                    this.$set(this.podsStatus, pod, r.data.status)
                })
                .catch(e => {
                  console.error(e)
                  numOfChecks++
                  this.$set(this.podsStatus, pod, 'n/a')
                })
              }
            }

            return new Promise((resolve, reject) => {
              const isLoadedAll = function () {
                if (numOfChecks === expectedNumOfChecks) resolve()
                else setTimeout(() => isLoadedAll(), 100)
              }
              isLoadedAll()
            })
          }

          console.debug('loadPodsStatus()')
          if (this.isDeployed && this.isPodListLoaded) {
            await check()
            for (let p of Object.keys(this.podsStatus)) {
              if (this.podsStatus[p].toLowerCase() !== 'running' && !isBtn) return setTimeout(() => this.loadPodsStatus(), 10000)
            }
            // we don't want to refresh if everything is running
            // setTimeout(() => this.loadPodsStatus(), 60000)
          } else if (!isBtn) setTimeout(() => this.loadPodsStatus(), 1000)
        },
        loadSampleSettingsFromServer: function () {
          if (this.selectedSample !== null) {
            const url = this.domain + '/deployment/sample-config/' + this.selectedSample
            axios
              .get(url)
              .then((r) => {
                const global = {
                    ...this.settings.globalCurrent,
                    ...r.data.global
                }
                this.$set(this.settings, 'globalCurrent', global)
                for (let p of Object.keys(r.data.products)) {
                    // init products
                    this.$set(this.productsToConfigure, p, !r.data.ignore.includes(p)) // to keep reactivity
                    // update current config
                    const settings = {
                        ...this.settings.current[p],
                        ...r.data.products[p]
                    }
                    this.$set(this.settings.current, p, settings)

                    // check if domain is overridden
                    if (this.settings.current[p].domain !== this.settings.globalCurrent.domain) {
                        this.$set(this.domainOverride, p, true)
                    }
                }
              })
              .catch(e => {
                const id = String(Math.floor(Math.random() * 100000))
                this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - cannot reach network'})
              })
            }
        },
        loadSamples: function () {
          const url = this.domain + '/deployment/sample-config'
          axios
            .get(url)
            .then((r) => {
              this.samplesList = r.data.configs
            })
            .catch(e => {
              const id = String(Math.floor(Math.random() * 100000))
              this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - cannot reach network'})
            })
        },
        deploymentPodMappingCheck: function () {
          const url = this.domain + '/deployment/pod-mapping'
          if (this.isDeployed && Object.keys(this.podMapping).length === 0) {
            this.isPodListLoading = true
            axios
              .get(url)
              .then((r) => {
                this.podMapping = r.data.mappings
                this.isPodListLoading = false
                this.isPodListLoaded = true
              })
              .catch(e => {
                const id = String(Math.floor(Math.random() * 100000))
                this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - cannot reach network'})
              })
              .finally(() => {
                setTimeout(() => {
                  this.deploymentPodMappingCheck()
                }, 20000)
              })
          } else {
            this.isPodListLoading = false
            setTimeout(() => {
              this.deploymentPodMappingCheck()
            }, 1000)
          }
        },
        deploymentStatusCheck: function () {
          const url = this.domain + '/deployment/status'
          axios
            .get(url)
            .then((r) => {
              this.isStatusLoaded = true
              this.deploymentStatus = r.data.status.toLowerCase()
              this.endpoints = r.data.endpoints

            })
            .catch(e => {
              const id = String(Math.floor(Math.random() * 100000))
              this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - cannot reach network'})
            })
            .finally(() => {
              setTimeout(() => {
                this.deploymentStatusCheck()
              }, 10000)
            })
        },
        productBtnClass: function (product) {
            let cl = 'primary'
            if (!this.productsToConfigure[product]) cl = 'secondary'
            return [this.toShow === product ? 'btn-' + cl : 'btn-outline-' + cl]
        },
        show: function (product) {
            if (this.toShow === product) this.toShow = ''
            else this.toShow = product
        },
        onUpdate: function (product, v) {
          console.debug({product, v})
          this.settings[product][v.key] = v.value
        },
        exportSettings: function () {
            let products = this.aggregatedSettings

            for (let p of Object.keys(this.domainOverride).filter((o) => !this.domainOverride[o])) {
                products[p].domain = this.aggregatedGlobalSettings.domain
            }

            return(Object.assign({}, {
                products,
                global: this.aggregatedGlobalSettings,
                ignore: Object.keys(this.productsToConfigure).filter((o) => !this.productsToConfigure[o])
            }))
        },
        loadCurrentSettingsFromServer: function () {
          const url = this.domain + '/deployment/current-config'
          axios.get(url)
            .then((r) => {
                const global = {
                    ...this.settings.globalCurrent,
                    ...r.data.global
                }
                this.$set(this.settings, 'globalCurrent', global)
                for (let p of Object.keys(r.data.products)) {
                  // init products
                  this.$set(this.productsToConfigure, p, !r.data.ignore.includes(p)) // to keep reactivity

                  // update current config
                  const settings = {
                      ...this.settings.current[p],
                      ...r.data.products[p]
                  }
                  this.$set(this.settings.current, p, settings)

                  // check if domain is overridden
                  if (this.settings.current[p].domain !== this.settings.globalCurrent.domain) {
                      this.$set(this.domainOverride, p, true)
                  }

                  this.isConfigured = _.size(r.data.products[p]) > 0
                }
            })
            .catch(e => {
              const id = String(Math.floor(Math.random() * 100000))
              this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - cannot reach network'})
            })
        },
        uploadSettings: function () {
          const url = this.domain + '/deployment/current-config'

          this.$set(this.state, 'upload', 1)
          axios
            .post(url, {
              ...this.exportSettings()
            }, {
              headers: {'Content-Type': 'application/json'}
            })
            .then((r) => {
              const id = String(Math.floor(Math.random() * 100000))
              this.isConfigured = true
              this.$set(this.state, 'upload', 2)
              this.$set(this.alerts, id, { type: 'success', timestamp: Date.now(), message: '<strong>' + url + '</strong> - ' + r.data.status})
            })
            .catch(() => {
              this.$set(this.state, 'upload', 3)
            })
            .finally(() => {
              setTimeout(() => this.$set(this.state, 'upload', 0), 2000)
            })
        },
        runTests: function () {
          const url = this.domain + '/deployment/tests/run'
          const id = String(Math.floor(Math.random() * 100000))
          axios.post(url)
            .then((r) => {
              this.$set(this.alerts, id, { type: 'success', timestamp: Date.now(), message: '<strong>' + url + '</strong> - Tests started' })
            })
            .catch((e) => {
              let response = 'cannot reach network'
              if (typeof e.response !== 'undefined' && typeof e.response.data !== 'undefined' && typeof e.response.data.status !== 'undefined') response = e.response.data.status
              this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - ' + response })
            })
        },
        removeDeploy: function () {
          const url = this.domain + '/deployment/remove'
          const id = String(Math.floor(Math.random() * 100000))
          this.deploymentStatus = 'removing'
          axios.post(url)
            .then((r) => {
              this.isPodListLoading = false
              this.isPodListLoaded = false
              this.podMapping = {}
              this.podsStatus = {}
              this.livecheckStatus = {}
              this.loadPodsStatus()
              this.$set(this.alerts, id, { type: 'success', timestamp: Date.now(), message: '<strong>' + url + '</strong> - Deployment removed' })
            })
            .catch((e) => {
              let response = 'cannot reach network'
              if (typeof e.response !== 'undefined' && typeof e.response.data !== 'undefined' && typeof e.response.data.status !== 'undefined') response = e.response.data.status
              this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - ' + response })
            })
        },
        deploy: function () {
          const url = this.domain + '/deployment/deploy'
          const id = String(Math.floor(Math.random() * 100000))

          this.deploymentStatus = 'deploying'
          axios.post(url)
            .then((r) => {
              this.$set(this.alerts, id, { type: 'success', timestamp: Date.now(), message: '<strong>' + url + '</strong> - Deployment successful' })
              this.deploymentStatus = 'deployed'
            })
            .catch((e) => {
              let response = 'cannot reach network'
              if (typeof e.response !== 'undefined' && typeof e.response.data !== 'undefined' && typeof e.response.data.error !== 'undefined') response = e.response.data.error
              this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - ' + response })
            })
        },
        fileUpload: function (files) {
          for (let i = 0, l = files.length; i < l; i++) {
            const reader = new FileReader()
            reader.onload = (e => {
              const settingsFile = JSON.parse(atob(e.target.result.replace('data:application/json;base64,', '')))

              const global = {
                ...this.settings.globalCurrent,
                ...settingsFile.global
              }
              this.$set(this.settings, 'globalCurrent', global)

              for (let p of Object.keys(settingsFile.products)) {
                    // init products
                    if (typeof this.productsToConfigure[p] === 'undefined') {
                        this.$set(this.productsToConfigure, p, false) // to keep reactivity
                        this.$set(this.showPods, p, false)
                    }
                    // update current config
                    const settings = {
                        ...this.settings.current[p],
                        ...settingsFile.products[p]
                    }
                    this.$set(this.settings.current, p, settings)

                    // check if domain is overridden
                    if (this.settings.current[p].domain !== this.settings.globalCurrent.domain) {
                        this.$set(this.domainOverride, p, true)
                    }
                }
            })
            reader.readAsDataURL(files[i])
          }
        },
        loadDefaultSettingsFromServer: function (init) {
          let isSetFirstTab = false
          const url = this.domain + '/deployment/default-config'
          axios
            .get(url)
            .then((r) => {
                this.$set(this.settings, 'globalCurrent', r.data.global)
                this.$set(this.settings, 'globalDefault', r.data.global)

                for (let p of Object.keys(r.data.products)) {
                    // init products
                    if (typeof this.productsToConfigure[p] === 'undefined') {
                        this.$set(this.productsToConfigure, p, false) // to keep reactivity
                        this.$set(this.showPods, p, false)
                        this.$set(this.domainOverride, p, false) // to keep reactivity
                    }
                    // update default configs
                    this.$set(this.settings.default, p, r.data.products[p])
                    this.$set(this.settings.current, p, r.data.products[p])

                    // check if domain is overridden
                    if (this.settings.current[p].domain !== this.settings.globalCurrent.domain) {
                        this.$set(this.domainOverride, p, true)
                    }
                }

                if (init === true) {
                  for (let product of Object.keys(this.settings.default)) {
                    if (!isSetFirstTab) {
                        this.toShow = product
                        isSetFirstTab = true
                        break
                    }
                  }
                  this.loadCurrentSettingsFromServer()
                }
                this.$forceUpdate()
            })
            .catch((e) => {
              const id = String(Math.floor(Math.random() * 100000))
              this.$set(this.alerts, id, { type: 'error', timestamp: Date.now(), message: '<strong>' + url + '</strong> - cannot reach network'})
            })
        }
      }
    })
  </script>
</body>
</html>