<configuration>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <encoder  class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>transactionId</includeMdcKeyName>
        </encoder> -->
        <encoder>
            <pattern>%d{ISO8601} [%thread] [%X{transactionId}] %-5level %logger{5} - %m%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="org.forgerock.openam.core.rest.authn.http.AuthenticationServiceV2" level="TRACE">
        <appender-ref ref="JSON" />
    </logger>

    <root level="TRACE">
        <appender-ref ref="JSON" />
    </root>
</configuration>
