<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}"-->
    <style>
        .button_loading {
            /* apply to "loading" buttons */
            background: url("{{url_for('.static', filename='loading.gif')}}") no-repeat 50% 50%;
        }
        </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    
    <title>
        {% if title %}{{ title }}{% else %}ForgeOps Tests{% endif %}
    </title>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('.scripts_js') }}"></script>
</head>

  <body>
    {% block navbar %}
        <nav class="navbar navbar-expand-sm navbar-light bg-dark">
            <a class="navbar-brand" href="#">
                <img src="{{url_for('.static', filename='logo-fr.png')}}" height="60" style="-webkit-filter: invert(1); filter: invert(1)" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto"></ul>
                {% if current_user.is_anonymous %}
                    <ul class="my-2 my-sm-0"></ul>
                {% else %}
                    <button class="btn btn-outline-warning btn-lg my-2 my-sm-0" id="runTestButton" href="#">Rerun Tests</button>
                    <ul class="px-2"></ul>
                    <li class="nav-item dropdown">
                        <img src="{{url_for('.static', filename='loginicon.png')}}" height="50" class="nav-link dropdown-toggle rounded mr-2" 
                        style="-webkit-filter: invert(1); filter: invert(1)" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                    </li>
                {% endif %}
                <!-- <ul class="pr-1"></ul> -->
                <!-- <button class="btn btn-outline-warning btn-lg my-2 my-sm-0" id="runTestButton">Login</button> -->
            </div>
        </nav>
          
    {% endblock %}
    
    {% block toast %}
        <!--div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;"-->
        <div class="position-absolute w-100 d-flex flex-column p-4">
            <div class="toast ml-auto" data-delay="7000" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                <img src="{{url_for('.static', filename='logo-fr-crop.gif')}}" height="10" class="rounded mr-2" alt="">
                <strong class="mr-auto text-primary"> ForgeOps &emsp;&emsp;&emsp;&emsp;</strong>
                <small class="text-muted">Just now</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="toast-body">
                    <span id="toastContent">Placeholder of a toast really cool</span>
                </div>
            </div>
        </div>
    {% endblock %}
    
    {% block app_content %}
        <div class="embed-responsive embed-responsive-16by9">
            <iframe id="reportArea" class="embed-responsive-item" src="{{ url_for('result') }}" allowfullscreen></iframe>
        </div>
    {% endblock %}

  </body>
</html>




