{{- if and .Values.idm.enabled .Values.platform.ingress.enabled -}}
{{- $svcPort := .Values.idm.service.port -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: idm
  labels:
    {{- include "identity-platform.labels" . | nindent 4 }}
    {{- with .Values.idm.podLabels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  annotations:
    {{- if .Values.idm.ingress.annotations }}
      {{- toYaml .Values.idm.ingress.annotations | nindent 4 }}
    {{- else if .Values.platform.ingress.annotations }}
      {{- toYaml .Values.platform.ingress.annotations | nindent 4 }}
    {{- end }}
    {{- if .Values.platform.ingress.tls.issuer.name }}
    {{- if (eq "ClusterIssuer" .Values.platform.ingress.tls.issuer.kind) }}
    cert-manager.io/cluster-issuer: {{ .Values.platform.ingress.tls.issuer.name }}
    {{- else }}
    cert-manager.io/issuer: {{ .Values.platform.ingress.tls.issuer.name }}
    {{- end }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.idm.ingress.className | default .Values.platform.ingress.className }}
  tls:
    {{- range $host := .Values.platform.ingress.hosts }}
    - hosts:
        - {{ $host | quote }}
      {{- if $.Values.platform.ingress.tls.secret.name }}
      secretName: {{ $.Values.platform.ingress.tls.secret.name }}
      {{- else }}
      secretName: "tls-{{ $host }}"
      {{- end }}
    {{- end }}
  rules:
    {{- range $host := .Values.platform.ingress.hosts }}
    - host: {{ $host | quote }}
      http:
        paths:
          - path: /openidm
            pathType: Prefix
            backend:
              service:
                name: idm
                port:
                  number: {{ $svcPort }}
          - path: /upload
            pathType: Prefix
            backend:
              service:
                name: idm
                port:
                  number: {{ $svcPort }}
          - path: /export
            pathType: Prefix
            backend:
              service:
                name: idm
                port:
                  number: {{ $svcPort }}
          - path: /admin
            pathType: Prefix
            backend:
              service:
                name: idm
                port:
                  number: {{ $svcPort }}
          - path: /openicf
            pathType: Prefix
            backend:
              service:
                name: idm
                port:
                  number: {{ $svcPort }}
    {{- end }}
{{- end }}
