{{- if .Values.platform.base.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: platform-config
  labels:
    {{- include "identity-platform.labels" . | nindent 4 }}
data:
  FORGEOPS_PLATFORM_SIZE: cdk
  FQDN: {{ first .Values.platform.ingress.hosts }}
  AM_URL: /am
  AM_ADMIN_URL: /am/ui-admin/
  IDM_ADMIN_URL: /admin
  IDM_UPLOAD_URL: /upload
  IDM_EXPORT_URL: /export
  PLATFORM_ADMIN_URL: /platform
  IDM_REST_URL: /openidm
  ENDUSER_UI_URL: /enduser
  LOGIN_UI_URL: /login/#/service/Login
  PLATFORM_UI_IS_FRAAS: "false"
  FRAAS_LOGGING_URL: ""
  ENDUSER_CLIENT_ID: end-user-ui
  ADMIN_CLIENT_ID: idm-admin-ui
  THEME: default
  {{- $idrepoCount := .Values.ds_idrepo.replicaCount }}
  {{- $idrepoServersList := (list) }}
  {{- range $i, $none := until (int $idrepoCount) }}
    {{- $idrepoServersList = append $idrepoServersList (printf "ds-idrepo-%d.ds-idrepo:1636" $i) }}
  {{- end }}
  {{- $idrepoServers := printf ($idrepoServersList | join ",") }}
  {{- $ctsCount := .Values.ds_cts.replicaCount }}
  {{- $ctsServersList := (list) }}
  {{- range $i, $none := until (int $ctsCount) }}
    {{- $ctsServersList = append $ctsServersList (printf "ds-cts-%d.ds-cts:1636" $i) }}
  {{- end }}
  {{- $ctsServers := printf ($ctsServersList | join ",") }}
  AM_STORES_CTS_SERVERS: {{ $ctsServers }}
  AM_STORES_USER_SERVERS: {{ $idrepoServers }}
  AM_SERVER_FQDN: {{ first .Values.platform.ingress.hosts }}
  AUTORESTORE_FROM_DSBACKUP: {{ .Values.ds_restore.autoRestore | quote }}
  DSBACKUP_DIRECTORY: {{ .Values.ds_restore.backupLocation | quote }}
  DSBACKUP_HOSTS: {{ .Values.ds_restore.backupHosts | quote }}
  DISASTER_RECOVERY_ID: {{ .Values.ds_restore.disasterRecoveryId | quote }}
  CERT_ISSUER: default-issuer
{{- end }}
