{{- if or .Values.am.enabled .Values.idm.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: platform-config
  labels:
    {{- include "identity-platform.labels" . | nindent 4 }}
data:
  FORGEOPS_PLATFORM_SIZE: cdk
  FQDN: {{ first .Values.platform.ingress.hosts }}
  AM_URL: https://{{ first .Values.platform.ingress.hosts }}/am
  AM_ADMIN_URL: https://{{ first .Values.platform.ingress.hosts }}/am/ui-admin/
  IDM_ADMIN_URL: https://{{ first .Values.platform.ingress.hosts }}/admin
  IDM_UPLOAD_URL: https://{{ first .Values.platform.ingress.hosts }}/upload
  IDM_EXPORT_URL: https://{{ first .Values.platform.ingress.hosts }}/export
  PLATFORM_ADMIN_URL: https://{{ first .Values.platform.ingress.hosts }}/platform
  IDM_REST_URL: https://{{ first .Values.platform.ingress.hosts }}/openidm
  ENDUSER_UI_URL: https://{{ first .Values.platform.ingress.hosts }}/enduser
  LOGIN_UI_URL: https://{{ first .Values.platform.ingress.hosts }}/login/#/service/Login
  PLATFORM_UI_IS_FRAAS: "false"
  FRAAS_LOGGING_URL: ""
  ENDUSER_CLIENT_ID: end-user-ui
  ADMIN_CLIENT_ID: idm-admin-ui
  THEME: default
  {{- $idrepoCount := .Values.ds_idrepo.replicaCount }}
  {{- $idrepoServersList := (list) }}
  {{- range $i, $none := until (int $idrepoCount) }}
    {{- $idrepoServersList = append $idrepoServersList (printf "ds-idrepo-%d.ds-idrepo:1636" $i) }}
  {{- end }}
  {{- $idrepoServers := printf ($idrepoServersList | join ",") }}
  {{- if .Values.ds_cts.enabled }}
  {{- $ctsCount := .Values.ds_cts.replicaCount }}
  {{- $ctsServersList := (list) }}
  {{- range $i, $none := until (int $ctsCount) }}
    {{- $ctsServersList = append $ctsServersList (printf "ds-cts-%d.ds-cts:1636" $i) }}
  {{- end }}
  {{- $ctsServers := printf ($ctsServersList | join ",") }}
  AM_STORES_CTS_SERVERS: {{ $ctsServers }}
  {{- else }}
  AM_STORES_CTS_SERVERS: {{ $idrepoServers }}
  {{- end }}
  AM_STORES_USER_SERVERS: {{ $idrepoServers }}
  AM_SERVER_FQDN: {{ first .Values.platform.ingress.hosts }}
  AUTORESTORE_FROM_DSBACKUP: {{ .Values.ds_restore.autoRestore | quote }}
  DSBACKUP_DIRECTORY: {{ .Values.ds_restore.backupLocation | quote }}
  DSBACKUP_HOSTS: {{ .Values.ds_restore.backupHosts | quote }}
  DISASTER_RECOVERY_ID: {{ .Values.ds_restore.disasterRecoveryId | quote }}
  CERT_ISSUER: default-issuer
{{- end }}
