apiVersion: apps/v1
kind: Deployment
metadata:
  name: login-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: login-ui
  template:
    metadata:
      labels:
        app: login-ui
    spec:
      containers:
      - image: gcr.io/forgerock-io/platform-login-ui/docker-build:7.0.0-4e82648cbad1d7e2982406288ea759bf3d523f88
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: platform-config
        livenessProbe:
          httpGet:
            path: /
            port: http
        name: login-ui
        resources:
          requests:
            memory: "100Mi"
            cpu: "10m"
          limits:
            memory: "100Mi"
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /
            port: http
