apiVersion: apps/v1
kind: Deployment
metadata:
  name: end-user-ui
spec:
  replicas: 1
  template:
    spec:
      containers:
      - image: gcr.io/forgerock-io/platform-enduser-ui/docker-build:7.0.0-135014b34f8e9bd3a6747f0ecaa69d5f8f061b2b
        imagePullPolicy: IfNotPresent
        envFrom:
        - configMapRef:
            name: platform-config
        livenessProbe:
          httpGet:
            path: /
            port: http
        name: end-user-ui
        resources:
          requests:
            memory: "100Mi"
            cpu: "10m"
          limits:
            memory: "100Mi"
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /
            port: http
