# Default values for openidm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

# Top level domain. Used to create the ingress
domain: .forgeops.com

# Configuration parameters. Common to all charts that require configuration from a
# source. Currently the only source is a git repo.
config:
  # Path to our project
  path: /git/config/default/idm/sync-with-ldap-bidirectional
  # The name of the configuration we want to use. This is used as a reference 
  # to either a pvc claim to mount that holds the configuration, or the name
  # is used to reference secrets and a configmap that is used to clone the git repo.
  # The default "frconfig" can be used when you want all products to share the same git repo. 
  # You can deploy multiple instances of the frconfig chart if you want per product repos.
  # for example,  helm install --set config.name=openig frconfig
  name: frconfig
  # strategy defines how products get their configuration .
  # Using the git strategy, each helm chart pulls the configurtion from git using an init container. 
  strategy: git
  
image:
  repository: gcr.io/engineering-devops
  # For development use Always
  pullPolicy: IfNotPresent
  #pullPolicy: IfNotPresent
  tag: 6.5.0

# override Java JVM options.
javaOpts: "-Xmx1024m -server -XX:+UseG1GC"

# If you set this to true, you must have a TLS secret with the same name as the FQDN.
useTLS: false

tls:
  # strategy is the method of TLS provisioning. Can either be:
  # - CertManager[default]: Use CertManager with forgeops.com domain and Letsencrypt production.
  # - SelfSigned:           Runs job that creates self-signed wildcard certificated based namespace.  
  # - UserProvided:         Allows user to provide their own cert files.
  strategy: CertManager
  # path to certs if 'tlsStrategy: UserProvided'. 
  # crtPath: /path/to/cert/tls.crt
  # keyPath: /path/to/key/tls.key
  jobName: tls-generator
  jobImage: forgerock-docker-public.bintray.io/forgerock/tls:1.0

# Specific values
openidm:
  repo:
    host: postgresql
    port: 5432
    user: openidm
    password: openidm
    schema: openidm
    databaseName: openidm
  # Optional client secret for AM/IDM integration:
  idpconfig:
    clientsecret: password

# Optional - if there is a DJ userstore configured
userstore:
  host: userstore-0.userstore
  password: password
  port: 1389

service:
  name: openidm
  type: NodePort
  externalPort: 80
  internalPort: 8080

resources:
  limits:
    cpu: 1000m
    memory: 1200Mi
  requests:
    cpu: 300m
    memory: 1024Mi


# Used to form the FQDN  - see _helpers.tpl
component: openidm

# Default log level. See templates/configmap/logging.properties. For example, you can use FINE here to
# see fine grained logging output using kubectl logs.
logLevel: INFO

ingress:
  class: nginx
  enabled: true
  annotations:
    # Nginx specific annotations
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "route"
    nginx.ingress.kubernetes.io/session-cookie-hash: "sha1"
    ingress.kubernetes.io/ssl-redirect: "true"
