<!--
  Copyright 2015-2017 ForgeRock AS. All Rights Reserved

  Use of this code requires a commercial software license with ForgeRock AS.
  or with one of its affiliates. All use shall be exclusively subject
  to such license between the licensee and ForgeRock AS.
-->
<nav class="text-center clearfix remember-forgot" role="navigation">
    <ul>
        <li><a class="selfserviceLink" href="http://idm-service.sample.svc.cluster.local/selfservice/#forgotUsername/">{{t "templates.user.LoginTemplate.forgotUsername"}}</a></li>

        <li><a class="selfserviceLink" href="http://idm-service.sample.svc.cluster.local/selfservice/#passwordReset/">{{t "templates.user.LoginTemplate.resetPassword"}}</a></li>
    </ul>
</nav>

<div class="toggle-login-register">
    <hr>
    {{t "templates.login.newHere" }} <a class="selfserviceLink" href="http://idm-service.sample.svc.cluster.local/selfservice/#register/">{{t "templates.login.createAccount" }}</a>
</div>

<script>
$(function () {
    $(".selfserviceLink").each(function () {
        var $link = $(this);
        $link.attr('href', $link.attr('href') + '&returnParams=' + encodeURIComponent('{{{compositeQueryString}}}'))
    });
})
</script>
