apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- resources.yaml
labels:
- includeSelectors: true
  pairs:
    app: ds-snapshot
    app.kubernetes.io/name: ds-snapshot
    app.kubernetes.io/part-of: forgerock
