namespace: default
commonLabels:
  app.kubernetes.io/part-of: "forgerock"
resources:
- ../../../base/kustomizeConfig
- ../../../base/secrets
- ../../../base/ds-idrepo
- ../../../base/am-cdk
- ../../../base/amster
- ../../../base/idm
- ../../../base/7.0/ingress

patchesStrategicMerge:
- |-
  apiVersion: v1
  kind: ConfigMap
  metadata:
    name: platform-config
  data:
    AM_STORES_CTS_SERVERS: "ds-idrepo-0.ds-idrepo:1389"

- |-
  #Patch AM
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: am
  spec:
    template:
      spec:
        containers:
        - name: openam
          resources:
            limits:
              memory: 1500Mi
            requests:
              memory: 1400Mi
